<div #printSection class="container">
  <div class="print-wrapper">
    <table class="form-table">
      <tr>
        <td colspan="2">
          <input 
            type="text" 
            class="header-input" 
            placeholder="Where to claim / Service"
            #whereToClaim
          >
        </td>
      </tr>

      <tr>
        <th>Host Name</th>
        <td>
          <input 
            type="text" 
            #hostName
          >
        </td>
      </tr>

      <tr>
        <th>Device Model</th>
        <td>
          <input 
            type="text" 
            #deviceModel
          >
        </td>
      </tr>

      <tr>
        <th>Sending Date</th>
        <td>
          <input 
            type="text" 
            #sendingDate
          >
        </td>
      </tr>

      <tr>
        <th>Current Condition</th>
        <td>
          <textarea 
            rows="3"
            #currentCondition
          ></textarea>
        </td>
      </tr>

      <tr>
        <th>Problem Details</th>
        <td>
          <textarea 
            rows="3"
            #problemDetails
          ></textarea>
        </td>
      </tr>

      <tr>
        <th>Contacts</th>
        <td>Piyer Mollah - +8801752800084  Ridoan Zahan - +8801712158121</td>
      </tr>
    </table>
  </div>

  <div class="btn-row">
    <button class="btn-clear" (click)="clearAll()">Clear All</button>
    <button class="btn-print" (click)="print()">Print</button>
  </div>
</div>